/* * = All elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    /* background saved in a CSS variable named --color-bg  */
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}